In [17]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import env

In [2]:
query = "select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips from properties_2017 left join propertylandusetype using (propertylandusetypeid) where propertylandusedesc = 'Single Family Residential'"

In [3]:
url = env.get_db_url('zillow')

In [4]:
df = pd.read_sql(query, url)

In [5]:
df.shape

(2152863, 7)

In [6]:
df.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [7]:
# dropping na for all since they most na is less than 1%
df = df.dropna()

In [8]:
df.dtypes

bedroomcnt                      float64
bathroomcnt                     float64
calculatedfinishedsquarefeet    float64
taxvaluedollarcnt               float64
yearbuilt                       float64
taxamount                       float64
fips                            float64
dtype: object

In [9]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [10]:
df.sample(5)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
1209718,4.0,3.0,2146.0,368207.0,1949.0,5052.17,6037.0
700231,4.0,2.0,1903.0,503000.0,1965.0,5303.50,6111.0
202767,4.0,2.5,2096.0,304530.0,1967.0,3862.28,6059.0
1410328,4.0,3.5,2963.0,734000.0,2005.0,7812.64,6111.0
2007276,3.0,2.0,1005.0,144060.0,1924.0,2497.28,6037.0

In [11]:
df['taxvaluedollarcnt'].value_counts()

taxvaluedollarcnt
450000.0    820
500000.0    774
400000.0    723
430000.0    690
440000.0    683
           ...
729523.0      1
940139.0      1
545367.0      1
38804.0       1
536061.0      1
Name: count, Length: 588178, dtype: int64

In [12]:
# creating list to turn into int
col = ['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'fips']

In [13]:
df[col] = df[col].astype(int)

In [14]:
df.dtypes

bedroomcnt                        int64
bathroomcnt                       int64
calculatedfinishedsquarefeet      int64
taxvaluedollarcnt                 int64
yearbuilt                         int64
taxamount                       float64
fips                              int64
dtype: object

In [18]:
import wrangle as w

In [20]:
train, validate, test, df = w.wrangle_zillow()

In [21]:
df.shape, train.shape, validate.shape, test.shape

((2140235, 7), (1284141, 7), (428047, 7), (428047, 7))